/* nav{
    height:var(--heightForNavbar);
} */

.container-fluid{
    position: fixed;
    top:0px;
    width: 100vw;
    height: var(--heightForNavbar);
    display: flex;
    justify-content: space-between;
    align-items: center;;
    transition: 0.3s;
    background: linear-gradient(180deg, rgba(6, 91, 209) 0%, rgba(0,212,255,0) 100%);
    text-transform: uppercase;
    font-family: 'Inter', serif;
    z-index: 99999;
}

.left-ctn{
    padding-left: 20px;
    height: 100%;
}

.left-ctn > a > img {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.menu-right{
    padding-right: 50px;

}

.menu-right>ul{
    display: flex;
    align-items: center;
}

.menu-right>ul>li{
    list-style: none;
    display: inline;
    padding-left: 120px;
    text-decoration: none;
}

nav .container-fluid a{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}


.menu-right>ul>li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .menu-right>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.menu-right>ul>li>a:hover{
    cursor: pointer;
    color: rgb(250, 250, 250);
    font-weight: bold;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}
.menu-right ul{
    padding-left:unset !important;
}
.message p{
    font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        left: -120%;
        top: 6rem;
        flex-direction: column;
        background: linear-gradient(360deg, rgba(6, 91, 209) 0%, rgb(0, 213, 255) 100%);
        width: 100vw;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    nav .container-fluid a{
        color: black;
    }

    .menu-right>ul>li{
        padding-left: unset;
    }
    .menu-right>ul{
        display: flex;
        gap: 6rem;
        align-items: center;
        padding-top: 6rem;
    }

    .active{
        left: 0;
        height: 100vh;
        z-index: 999999999;
    }
}
